/* Client Login */

em { font-style: normal; font-weight: 900; color: maroon; }

a#clientLogin {
	display:block;
	text-indent:-9999px;
	position:absolute;
	right:100px;
	top:50px;
	width:114px;
	height:33px;
	background:url(/images/bk_top_client_login.png) 0 0 no-repeat;
}

a#clientLogin:hover {
	background:	url(/images/bk_top_client_login.png) 0 -33px no-repeat;
}

a.ajaxdialog img {
	border:none;
	vertical-align:middle;
	margin-right:8px;
}
